.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	scale: 1;
	background-color: $backdrop-bg;
	transition: scale 250ms cubic-bezier(0.4, 0, 0.2, 1),
		visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
	scale: 1.2;
	pointer-events: none;
	visibility: hidden;
}
