.contacts-list {
	display: flex;
	align-items: center;
}

.contacts-list__item:not(:last-child) {
	margin-right: 50px;
}

.contacts-list__link {
	display: flex;
	align-items: center;
	padding-top: 32px;
	padding-bottom: 32px;

	color: $primary-text-color;
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;

	@include transition(color);

	&:hover,
	&:focus {
		color: $accent-color;
	}
}

.contacts-list__icon {
	fill: currentColor;
	margin-right: 10px;
}
