.feedback-form__title {
	display: block;
	margin-bottom: 12px;

	font-size: 20px;
	line-height: 1.15;
	text-align: center;

	color: $main-title-color;
}

.feedback-form__text {
	display: block;
	margin-bottom: 4px;

	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;
}

.feedback-form__input-wrapper {
	margin-bottom: 10px;
	position: relative;
}

.feedback-form__input {
	height: 40px;
	padding-left: 42px;
	width: 100%;

	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-form__text:focus-within .feedback-form__input,
.feedback-form__text:hover .feedback-form__input,
.feedback-form__input-wrapper:focus-within .feedback-form__input,
.feedback-form__input-wrapper:hover .feedback-form__input {
	outline: none;
	border-color: $accent-color;
	cursor: pointer;
}

.feedback-form__icon {
	position: absolute;
	top: 50%;
	left: 12px;
	transform: translateY(-50%);

	color: $main-title-color;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-form__text:focus-within .feedback-form__icon,
.feedback-form__text:hover .feedback-form__icon,
.feedback-form__input-wrapper:focus-within .feedback-form__icon,
.feedback-form__input-wrapper:hover .feedback-form__icon {
	color: $accent-color;
}

.feedback-form__field {
	display: flex;
	flex-direction: column;
	position: relative;
}

.feedback-form__comment {
	margin-bottom: 20px;
	padding: 12px 16px;

	resize: none;

	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-form__field:focus-within .feedback-form__comment,
.feedback-form__field:hover .feedback-form__comment {
	outline: none;
	border-color: $accent-color;
	cursor: pointer;
}

.feedback-form__policy {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
}

.feedback-form__policy-link {
	color: $accent-color;
}

.feedback-form__policy-checkbox {
	appearance: none;
	width: 16px;
	height: 15px;
	margin-right: 8px;

	background-position: center;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.2222 1.66667V13.3333H1.77778V1.66667H14.2222ZM14.2222 0H1.77778C0.8 0 0 0.75 0 1.66667V13.3333C0 14.25 0.8 15 1.77778 15H14.2222C15.2 15 16 14.25 16 13.3333V1.66667C16 0.75 15.2 0 14.2222 0Z' fill='%23212121'/%3E%3C/svg%3E%0A");

	transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-form__policy-checkbox:checked {
	background-image: url("data:image/svg+xml,%3Csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='15' rx='2' fill='%232196F3'/%3E%3Cpath d='M3.95703 7.75166L3.88825 7.68604L3.81923 7.75141L2.93123 8.59258L2.85486 8.66492L2.93097 8.73753L6.42671 12.0724L6.49574 12.1382L6.56476 12.0724L14.069 4.91352L14.1449 4.84116L14.069 4.76881L13.1873 3.92764L13.1183 3.86183L13.0493 3.92761L6.49577 10.1735L3.95703 7.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E%0A");
}

.feedback-form__btn {
	display: block;
	margin-left: auto;
	margin-right: auto;
	min-width: 200px;
}
