.footer {
	background-color: $hero-bg-color;
	padding-top: 60px;
	padding-bottom: 60px;
}

.footer__container {
	text-align: center;
	@media screen and (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: baseline;
	}
	@media screen and (min-width: 1200px) {
		justify-content: center;
		text-align: start;
	}
}

.footer__logo {
	display: block;
	margin-bottom: 20px;
}

.footer__social {
	@media screen and (max-width: 767px) {
		margin-top: 60px;
	}
	@media screen and (min-width: 768px) and (max-width: 1199px) {
		margin-left: 165px;
	}
	@media screen and (min-width: 1200px) {
		margin-right: auto;
	}
}

.footer__text {
	margin-bottom: 20px;

	font-weight: 700;
	line-height: 1.14;
	text-transform: uppercase;
	color: $prymary-white-color;
}

.socials__link--theme-footer {
	background-color: $footer-social-bg-color;
	color: $prymary-white-color;
}

.socials__link--theme-footer:hover,
.socials__link--theme-footer:focus {
	background-color: $accent-color;
}
