.header {
	border-bottom: 1px solid $header-border;
}

.header__box {
	display: flex;
	align-items: center;
	min-height: 80px;

	@media screen and (max-width: 767px) {
		min-height: 60px;
	}
}

.header__contacts-list {
	margin-left: auto;
}

.header__logo {
	margin-right: 94px;
}
