.logo {
	color: $accent-color;
	text-decoration: none;
	font-family: $rw-font;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	&__text {
		color: $logo-text-color;
	}
}

.logo__end--inversion {
	color: $prymary-white-color;
}
