body {
	color: $primary-text-color;
	font-family: $rb-font;
	letter-spacing: 0.03em;
	font-size: 14px;
	background-color: $prymary-white-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

.container {
	width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.link {
	text-decoration: none;
}

.icon {
	fill: currentColor;
}

.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}

.section.no-padding-top {
	padding-top: 0;
}

.section {
	padding-top: 94px;
	padding-bottom: 94px;
}

.title {
	margin-top: 0;
	margin-bottom: 50px;

	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	color: $main-title-color;
}
