$primary-text-color: #757575;
$logo-text-color: #000000;
$accent-color: #2196f3;
$prymary-white-color: #ffffff;
$button-secondary-bg-color: #f5f4fa;
$main-title-color: #212121;
$hero-bg-color: #2f303a;
$hero-btn-active-bgc: #188ce8;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$footer-social-bg-color: rgba(255, 255, 255, 0.1);
$footer-subscribe-border-color: rgba(255, 255, 255, 0.3);
$header-border: #ececec;
$portfolio-content-border: #eeeeee;
$clients-primary-color: #afb1b8;
$work-overflow-bg: rgba(33, 150, 243, 0.9);
$backdrop-bg: rgba(0, 0, 0, 0.2);
$modal-btn-border: rgba(0, 0, 0, 0.1);
$activities-overflow-color: rgba(47, 48, 58, 0.8);

$rb-font: Roboto, sans-serif;
$rw-font: Raleway, sans-serif;
